[gpg]
    format = ssh
[user]
    signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIInWY3jODxFoHUuZG7SEKVC7DpSoNsXiYySaFCTjAxAd"
    email = github@jfl.services
	name = jobot2397
[commit]
    gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /Users/jobot23/.ssh/allowedSigners
[init]
	defaultBranch = main
